@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/imgs/pattern.png");
  background-position: right -50% top;
}

nav::before {
  content: "";
  position: fixed;
  display: inline-block;
  height: 20vh;
  top: 15vh;
  background-color: #fcfc;
  width: 1px;
  left: 7vw;
}

nav::after {
  content: "";
  position: fixed;
  display: inline-block;
  height: 21vh;
  bottom: 15vh;
  background-color: #fcfcfc;
  width: 1px;
  left: 7vw;
}

.content::after {
  content: "";
  position: fixed;
  display: inline-block;
  height: 70vh;
  background-color: #fcfcfc;
  width: 1px;
  right: 7vw;
  top: 15vh;
}

li:hover,
.media:hover {
  filter: drop-shadow(0px 1px 10px #e206f4);
}

.nav {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.03) 0%,
    rgba(217, 217, 217, 0) 100%
  );

  backdrop-filter: blur(25px);
}

.home-icon:hover + .home-text {
  display: block;
  -webkit-animation: slide-right 0.5s ease-in-out both;
  animation: slide-right 0.5s ease-in-out both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(0.8rem);
    transform: translateX(0.8rem);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(0.8rem);
    transform: translateX(0.8rem);
    opacity: 1;
  }
}

.home-text {
  display: none;
  font-size: 1rem;
  position: absolute;
  left: 50px;
}

.cardBlur {
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.03) 0%,
    rgba(217, 217, 217, 0) 100%
  );

  backdrop-filter: blur(25px);
}
